<.header>
    New Changelog
    <:subtitle>Create a new changelog entry</:subtitle>
</.header>

<.live_component module={ChangenoteWeb.ChangelogLive.FormComponent} id="new-changelog" action={:new}
    current_user={@current_user} return_to={~p"/changelogs"} />

<.back navigate={~p"/changelogs"}>Back to changelogs</.back>